<?xml version="1.0" encoding="UTF-8"?>
<module>
  <id>ac9ff521-931a-48eb-89cf-c8c45c976b61</id>
  <name>Peptide Sequence Renderer</name>
  <version>1.0</version>
  <assemblies>
    <assembly>
      <fullname>Com.PerkinElmer.Service.PeptideSequenceRenderer, Version=1.0.0.7, Culture=neutral, PublicKeyToken=4d95002c27fab778</fullname>
      <codebase>Com.PerkinElmer.Service.PeptideSequenceRenderer.dll</codebase>
      <compatibility>
        <min-version>0.0.0.0</min-version>
        <max-version>#.#.*.*</max-version>
      </compatibility>
    </assembly>
  </assemblies>
  <extensions>
    <addIn fullTypeName="Com.PerkinElmer.Service.PeptideSequenceRenderer.PDRenderAddin, Com.PerkinElmer.Service.PeptideSequenceRenderer, Version=1.0.0.7, Culture=neutral, PublicKeyToken=4d95002c27fab778" />
  </extensions>
</module>